<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eazy Dorm</title>
    <Link rel="stylesheet" href="/stylesheets/global.css"></Link>
</head>
<body>
    <%- include('../../components/header.ejs', { data: (typeof data !== 'undefined' ? data : []) }) %>
    <%- body %>
</body>
</html>