<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adddorm</title>
    <link rel="stylesheet" href="/stylesheets/adddorm.css">
    <script src="/javascripts/adddorm.js"></script>
</head>
<body>
    <div class="contain">
        <div class="main">
            <form action="/adddorm/process_addorm" method="POST" enctype="multipart/form-data" onsubmit="return validate(event);">
                <div class="text-information">
                    <label for="name">ชื่อหอพัก :</label>
                    <input type="text" name="name" id="name" required>
                    <label for="detail">รายละเอียด :</label>
                    <input type="text" name="detail" id="detail" required>
                    <label for="address">ที่อยู่ :</label>
                    <input type="text" name="address" id="address" placeholder="เช่น: บ้านเลขที่ ซอย ถนน หมู่บ้าน ตำบล/แขวง อำเภอ/เขต จังหวัด รหัสไปรษณีย์" required>
                    <label for="pay">เลขที่บัญชี :</label>
                    <input type="text" name="pay" id="pay" required>
                    <label for="payChannel">ธนาคาร :</label>
                    <input type="text" name="payChannel" id="payChannel" placeholder="เช่น: กรุงไทย" required>
                        <label for="rent1">ราคาเริ่มต้น :</label>
                        <input type="text" name="rent1"   id="rent1" required>
                        <label for="rent2">ราคาสูงสุด :</label>
                        <input type="text" name="rent2"  id="rent2" required>
    
                    <label for="contact">เบอร์ติดต่อ :</label>
                    <input type="text" name="contact" id="contact" required>
                    <label for="other_contact">ช่องทางติดต่ออื่น :</label>
                    <input type="text" name="other_contact" id="other_contact" placeholder="เช่น FB: somchai maimeetung">
                    <label for="electric_pay">ค่าไฟ (บาท/หน่วย) :</label>
                    <input type="text" name="electric_pay" id="electric_pay" required >
                    <label for="water_pay">ค่าน้ำ (บาท/หน่วย) :</label>
                    <input type="text" name="water_pay" id="water_pay" required>
                    
                    <div class="image-information">
                        <img src="" alt="Image Preview" id="imagePreview" style="display: none;">
                    </div>
                    <input type="file" name="image" id="fileInput" style="display: none;">
                    <div style="display: flex;">
                        <p style="color: red;">*</p>รองรับเฉพาะไฟล์รูปภาพเท่านั้น (jpg, png)
                    </div>
                    <input type="button" value="อัพโหลดรูปหอพัก" class="upload" onclick="document.getElementById('fileInput').click();">

                    <input type="file" name="qrimage" id="qrFileInput" class="qr" style="display: none;">
                    
                    <input type="button" value="อัพโหลด QR Code" class="upload" onclick="document.getElementById('qrFileInput').click();" id="filesel">

                    <button class="bt-save" type="submit">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>