<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addroom</title>
    <link rel="stylesheet" href="/stylesheets/addroom.css">
    <script src=""></script>
</head>

<body>
    <main>
        <div class="main">
            <div class="text-information">
                <h1>เพิ่มห้องพัก</h1>
                <form action="/addroom/process_addroom/<%= dormid %>/<%= userid %>" method="post" onsubmit="return validate(event);">
                    <label for="room_number">เลขที่ห้อง :</label>
                    <input type="text" placeholder="กรอกเลขที่ห้อง" name="room_number" id="room_number" maxlength="4" required>

                    <label for="floor">ชั้น :</label>
                    <input type="number" placeholder="กรอกชั้น" name="floor" id="floor" required>

                    <label for="size">ขนาดห้อง (ตร.ม.) :</label>
                    <input type="number" placeholder="กรอกขนาดห้อง" name="size" id="size" required>

                    <label for="rent">ราคา :</label>
                    <input type="number" placeholder="กรอกราคา" name="rent" id="rent" required>
                    <button class="bt-save" type="submit">บันทึกข้อมูล</button>
                </form>
            </div>
        </div>
    </main>

    <script>
        function validate(event) {
            event.preventDefault();
            let form = event.target;
            let floor = document.getElementById("floor").value.trim();
            let size = document.getElementById("size").value.trim();
            let rent = document.getElementById("rent").value.trim();
            let isValid = true;

            if (isNaN(floor) || floor === "") {
                alert("ชั้นต้องเป็นตัวเลขเท่านั้น");
                isValid = false;
                return false;
            }

            if (isNaN(size) || size === "") {
                alert("ขนาดห้องต้องเป็นตัวเลขเท่านั้น หน่วยเป็น ตร.ม.");
                isValid = false;
                return false;
            }
            if (isNaN(rent) || rent === "") {
                alert("ราคาต้องเป็นตัวเลขเท่านั้น");
                isValid = false;
                return false;
            }
            if (isValid) {
                form.submit();
            }
        }

    </script>
</body>

</html>