<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <Link rel="stylesheet" href="/stylesheets/homepage.css"></Link>
</head>
<body>
  <div class="container">
    <form><input
        type="text"
        class="searchbar"
        placeholder="ค้นหาหอพัก"
      /></form>
      <span class="pricerangecon" onclick="toggleRange()">
        <div class="pricedetail">
          <p>ทุกช่วงราคา</p>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
          </svg></p>
        </div>
      </span>
      <div class="rangepick-wrap" id="rangePick">
        <div class="mix-max">
          <div class="min">
            <label>ช่วงต่ำสุด</label><span id="min-value"></span>
            </div>
            <div class="max">
              <label>ช่วงสูงสุด</label><span id="max-value"></span>
              </div>
        </div>
        <div class="min-max-range">
          <input type="range" min="0" max="5000" value="2000" class="range" id="min">
          <input type="range" min="5001" max="10000" value="8000" class="range" id="max">
        </div>
        <div style="clear:both">

        </div>
      </div>
      
      <div>
        <button
            class="Searchbutton"
        ><Link>ยืนยัน</Link></button>
      </div>
  </div>
  <script src="/javascripts/homepage.js"></script>
</body>
</html>
