<div class="container">
    <form><input
        type="text"
        class="searchbar"
        placeholder="ค้นหาหอพัก"
      /></form>
      <div>
        <button
            class="Searchbutton"
        ><Link>ยืนยัน</Link></button>
      </div>
</div>