<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <Link rel="stylesheet" href="/stylesheets/login.css"></Link>
</head>
<body>
    <div class="all-con">
        <div class="login-con">
            <div class="login-header">
                <header>ล็อคอิน</header>
            </div>
            <div class="input-box">
                <input id="uore" type="text" class="input-f" placeholder="อีเมล/ชื่อผู้ใช้งาน" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input id="password" type="password" class="input-f" placeholder="รหัสผ่าน" autocomplete="off" required>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">จดจำฉันไว้</label>
                </section>
                <section>
                    <a href="#">ลืมรหัสผ่าน</a>
                </section>
            </div>
            <div class="error-message" id="passwordError"></div>
            <div class="input-submit" onclick="loginUser()">
                <button class="submit-btn" id="submit"></button>
                <label for="submit" >เข้าสู่ระบบ</label>
            </div>
            <a href="/register" >
              <div class="register-submit">
                <button class="regis-btn" id="regis"></button>
                <label for="regis">ลงทะเบียน</label>
            </div>
            </a>
            
        </div>
    </div>
    <script>
    async function loginUser() {
      const validatemessage = document.getElementById("passwordError");
        const uore = document.getElementById("uore");
        const password = document.getElementById("password");
        

      if (!uore.value || !password.value) {
        validatemessage.innerHTML = "กรุณากรอกข้อมูลให้ครบถ้วน";
        validatemessage.classList.add("show");
        return;
      }


  const loginData = {
    uore: uore.value,
    password: password.value,
  };


  try {
    const response = await fetch("http://localhost:3000/api/login", {
      method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(loginData),
    });
    
    const data = await response.json();
    

    if (response.ok) {

      window.location.href = "/";

    } else {
        validatemessage.innerHTML = "อีเมลหรือรหัสผ่านไม่ถูกต้อง";
        validatemessage.classList.add("show");
        return;
    }
  } catch (error) {
    console.log("เกิดข้อผิดพลาดในการลงชื่อเข้าใช้: " + error);
  }
}
    </script>
</body>
</html>