<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification Page</title>
    <style>
      body {
        background-color: #8a6240;
        color: #fff;
        margin: 0;
        padding: 0;
      }

      .allcontain {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      .main {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
        gap: 15px;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
      }

      .date-content {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
      }

      .noti-date {
        font-size: 12px;
        color: #102820;
        font-weight: 600;
      }

      .noti-menu {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #525252;
        padding: 8px 20px;
      }
    </style>
  </head>
  <body>
    <div class="allcontain">
      <div class="main" data-notification-id="<%= id %>" id="Menu">
        <h1 class="id" style="display: none" id="userid"><%= id %></h1>
      </div>
    </div>
    <script>
      const userIdElement = document.getElementById("userid");
      const Menu = document.getElementById("Menu");
      const userId = userIdElement.textContent || userIdElement.innerText;

      async function getNoti(id) {
        console.log("id:", id);
        try {
          const response = await fetch("http://localhost:3000/api/getNoti", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_id: id, limit: false }),
          });

          if (!response.ok) {
            throw new Error("Failed to fetch user info");
          }
          const data = await response.json();
          const allNotiData = data.allNoti[0];
          console.log("Allnoti:", allNotiData);
          allNotiData.forEach((noti) => {
            console.log(noti);
            Menu.insertAdjacentHTML(
              "beforeend",
              `<div class="noti-menu">
            <img src="${noti.user_pic}" alt="noti" class="noti-img"/>
            <div class="date-content">
              <span class="noti-content">${noti.content}</span>
              <span class="noti-date">14 ชั่วโมง</span>
            </div>
          </div>`
            );
            console.log("noti");
          });
        } catch (error) {
          console.error(error);
        }
      }

      getNoti(userId);
    </script>
  </body>
</html>
