<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            padding-top: 5%;
            padding-inline: 20%;
            background-color: #CABA9C;
        }
        .room_info {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .room_img {
            width: 47%;
            margin: 1%;
        }
        .room_img > img {
            height: 100%;
            width: 100%;
        }
        .info {
            margin: 1%;
            color: white;
            width: 47%;
            padding: 1%;
            background-color: #8A6240;
            border-radius: 5px;
            position: relative;
        }
        .info > h1 {
            margin-block: 0px;
        }
        .info > h3 {
            position: absolute;
            right: 5%;
            top: 1%;
        }
        .info > button {
            border: none;
            border-radius: 5px;
            width: 100%;
            color: white;
            background-color: #bb8454;
            padding-block: 1%;
            cursor: pointer;
            transition: all 200ms;
        }
        .info > button:hover {
            transform: scale(1.01);
        }
        .mini_info {
            margin-top: 5%;
            border: 2px white solid;
            border-radius: 5px;
            padding: 1%;
            padding-inline: 5%;
        }
        .facilities_container {
            margin: 1%;
            color: white;
            width: 100%;
            padding: 1%;
            background-color: #8A6240;
            border-radius: 5px;
        }
        .facilities {
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
        }
        .comments_box {
            color: white;
            margin: 1%;
            padding: 1%;
            background-color: #8A6240;
            border-radius: 5px;
        }
        .comment {
            border: 2px white solid;
            border-radius: 5px;
            padding: 1%;
            margin-block: 1%;
        }
    </style>
</head>
<body>
    <div class="room_info">
        <div class="room_img">        
            <img src="https://www.thespruce.com/thmb/iMt63n8NGCojUETr6-T8oj-5-ns=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/PAinteriors-7-cafe9c2bd6be4823b9345e591e4f367f.jpg" alt="roomimg">
        </div>
        <div class="info">
            <h1>ห้อง 305</h1>
            <h3>5 ดาว</h3>
            <p>ห้องขนาดใหญ่ 48 ตร.ม. ประเภทเตียงคู่</p>
            <button>โทรสอบถาม</button>
            <div class="mini_info">
                <h3>รายละเอียด</h3>
                <p>5500 บาท/เดือน</p>
                <p>ค่าไฟ: หน่วยละ 8 บาท</p>
                <p>ค่าน้ำ: หน่วยละ 16 บาท</p>
                <p>อินเทอร์เน็ต: ฟรี</p>
            </div>
        </div>
        <div class="facilities_container">
            <h1>สิ่งอำนวยความสะดวก</h1>
            <div class="facilities">
                <h3>เครื่องปรับอากาศ</h3>
                <h3>เครื่องปรับอากาศ</h3>
                <h3>เครื่องปรับอากาศ</h3>
                <h3>เครื่องปรับอากาศ</h3>
                <h3>เครื่องปรับอากาศ</h3>
                <h3>เครื่องปรับอากาศ</h3>
            </div>
        </div>
    </div>
    <div class="comments_box">
        <h1>ความคิดเห็น</h1>
        <div class="comments_container">
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
            <div class="comment">
                <h3>ไอซี</h3>
                <h5>5 ดาว</h5>
                <p>ห้องดีมากครับ ผมพาสาวขึ้นห้อง แฟนไม่รู้ตัวเลยครับ</p>
            </div>
        </div>
    </div>
</body>
</html>