<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/stylesheets/selectdorm.css">
   <script src="/javascripts/selectdorm.js"></script>
</head>
<body onload="openPage()">
    <main>
        <form class="search" onsubmit="searchDorm(event)">
            <input type="text" placeholder="ค้นหาหอพัก" id="searchtext">
            <div class="pricerange">
                ราคา <input type="number" placeholder="ขั้นต่ำ" id="minprice"> - <input type="number" placeholder="สูงสุด" id="maxprice"> บาท
            </div>
            <button type="submit">ค้นหา</button>
        </form>
        <div class="popup">
            <h1>ไม่พบหอพัก</h1>
        </div>
        <div class="dormcontainer">
        </div>
        
    </main>
    
</body>
</html>