<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/stylesheets/selectroom.css">
   <script src="/javascripts/selectroom.js"></script>
</head>
<body onload="openPage('<%=id%>')">
    <main>
        <div class="filter">
            <h3>กรอง</h3>
            <select name="Amenities" id="Amen" onchange="addAmen()"></select>
            <div class="itemscontainer"></div>
            <input type="checkbox" class="avaicheck">ว่าง
            <h3>ชั้น</h3>
            <div class="floorselect"></div>
            <h3>ราคา</h3>
            <div class="pricerange">
                <input type="number" placeholder="ขั้นต่ำ"> - <input type="number" placeholder="สูงสุด"> บาท
            </div>
            <button type="button" onclick="loadRoom('<%=id%>')">ยืนยัน</button>
        </div>
        <div class="popup">
            <h1>ไม่พบห้องพัก</h1>
        </div>
        <div class="roomcontainer"></div>
    </main>
</body>
</html>