<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/stylesheets/selectdorm.css">
   <script src="/javascripts/selectdorm.js"></script>
</head>
<body onload="openPage()">
    <main>
        <div class="filter">
            <h3>Filters</h3>
            <div class="itemscontainer">
                <div class="item">แอร์ <button>x</button></div>
                <div class="item">เตียงคู่ <button>x</button></div>
                <div class="item">eiei <button>x</button></div>
                <div class="item">eiei <button>x</button></div>
                <div class="item">eiei <button>x</button></div>
                <div class="item">eiei <button>x</button></div>
                <div class="item">eiei <button>x</button></div>
            </div>
            <h3>ชั้น</h3>
            <div class="floorselect">
                <div><input type="checkbox" name="floor1"> <label for="floor1">ชั้น 1</label></div>
                <div><input type="checkbox" name="floor2"> <label for="floor1">ชั้น 2</label></div>
                <div><input type="checkbox" name="floor3"> <label for="floor1">ชั้น 3</label></div>
            </div>
            <h3>ราคา</h3>
            <div class="pricerange">
                <input type="number" placeholder="ขั้นต่ำ"> - <input type="number" placeholder="สูงสุด"> บาท
            </div>
        </div>

        <form class="search" onsubmit="searchDorm(event)">
            <input type="text" placeholder="ค้นหาหอพัก" id="searchtext">
            <button type="submit">ค้นหา</button>
        </form>

        <div class="dormcontainer">
        </div>
    </main>
    
</body>
</html>