<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/showproblem.css">
</head>
<body>
    <main>
        <h1>ปัญหาที่ถูกแจ้ง</h1>
        <div class="card-holder">

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

            <div class="card">
                <div class="card-head">
                    <p>ห้อง</p>
                    <h2>301</h2>
                    <p>เบอร๋โทรศัพท์</p>
                    <h5>000000000</h5>
                </div>
                <div class="card-describe">
                    <h2>รายละเอียดปัญหา</h2>
                    <p>กุจมน้ำช่วยกุด้วย</p>
                </div>
                <button type="button" class="donebutton"><h2>เสร็จสิ้น</h2></button>
            </div>

        </div>
        <button type="button" class="gobackbutton"><h2>ย้อนกลับ</h2></button>
    </main>
</body>
</html>