body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #797878;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://th.bing.com/th/id/R.73cec86bbb78cf3fcc6304c0ba0cc590?rik=Pj2O4Z%2fBQRRfdw&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 1920px;
    height: 400px;
}

.searchbar {
    color: black;
    width: 24rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 1.5rem;
    border: 1px solid gray;
    outline: none;
  }
  
  .searchbar:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(153, 104, 12);
}

.Searchbutton {
    background-color: white;
    color: rgb(138, 87, 39);
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 2.5rem;
    border-radius: 1.5rem;
  }
  
  .Searchbutton:hover {
    background-color: rgb(145, 145, 145);
  }