main {
    padding-inline: 20%;
    background-color: #CABA9C;
}
.room_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.room_img {
    width: 47%;
    margin: 1%;
}
.room_img > img {
    height: 100%;
    width: 100%;
}
.info {
    margin: 1%;
    color: white;
    width: 47%;
    padding: 1%;
    background-color: #8A6240;
    border-radius: 5px;
    position: relative;
}
.info > h1 {
    margin-block: 0px;
}
.info > h3 {
    position: absolute;
    right: 5%;
    top: 1%;
}
.info > button {
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: #bb8454;
    padding-block: 1%;
    cursor: pointer;
    transition: all 200ms;
}
.info > button:hover {
    transform: scale(1.01);
}
.mini_info {
    margin-top: 5%;
    border: 2px white solid;
    border-radius: 5px;
    padding: 1%;
    padding-inline: 5%;
}
.facilities_container {
    margin: 1%;
    color: white;
    width: 100%;
    padding: 1%;
    background-color: #8A6240;
    border-radius: 5px;
}
.facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.comments_box {
    color: white;
    margin: 1%;
    padding: 1%;
    background-color: #8A6240;
    border-radius: 5px;
}
.comment {
    border: 2px white solid;
    border-radius: 5px;
    padding: 1%;
    margin-block: 1%;
}