body {
    background-color: #CABA9C;
}

main {
    padding-block: 2%;
    padding-inline: 5%;
    display: flex;
}
.filter {
    background-color: #8A6240;
    color: white;
    border-radius: 25px;
    width: 200px;
    padding: 1%;
    height: fit-content;
}
.filter > input {
    border: none;
    border-radius: 5px;
}
.filter > h3 {
    margin-bottom: 1px;
}
.itemscontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.item {
    background-color: #CABA9C;
    color: black;
    border-radius: 5px;
    margin: 1px;
    padding: 1px;
}
.item > button {
    border: none;
    background-color: #CABA9C;
    cursor: pointer;
}
.floorselect {
    display: flex;
    flex-direction: column;
}
.pricerange > input {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.search {
    position: absolute;
    top: 100px;
    left: 40%;
}

.search > input {
    font-size: 18px;
    color: black;
    width: 24rem;
    padding: 1rem 0.8rem;
    border-radius: 1.5rem;
    border: 1px solid gray;
    outline: none;
  }
  
.search > input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(153, 104, 12);
}

.search > button {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: Kanit;
    font-weight: 500;
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid #8A6240;
}
  
.search > button:hover {
    background-color: #CABA9C;
}

.dormcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1230px;
    gap: 15px;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
}
.dorm {
    cursor: pointer;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    background-color: #8A6240;
}
.dorm > img {
    border-radius: 5px;
    height: 75%;
    width: 100%;
}
.describe {
    margin: 0px;
    height: 25%;
    position: relative;
    display: flex;
}
.describe > h2 {
    margin-top: 1px;
    margin-left: 10px;
}
.describe > h4 {
    margin-top: 10px;
    position: absolute;
    right: 2%;
}
.describe > p {
    font-size: x-small;
    bottom: 10px;
    position: absolute;
    left: 2%;
}