main {
    margin: none;
    display: flex;
}
.filter {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 100px;
    padding: 1%;
    height: fit-content;
    width: 200px;
}
.filter > input {
    border: none;
    border-radius: 5px;
}
.filter > h3 {
    margin-bottom: 1px;
}
.itemscontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.item {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1px;
    padding: 1px;
}
.item > button {
    border: none;
    cursor: pointer;
}
.floorselect {
    display: flex;
    flex-direction: column;
}
.pricerange > input {
    width: 60px;
    height: 20px;
    border-radius: 5px;
    border: 1px #ccc solid;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
.filter > button {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #33b249;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
    cursor: pointer;
    transition: all 200ms;
}
.filter > button:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
}
.popup {
    display: none;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-items: center;
    height: 150px;
    width: 250px;
    position: absolute;
    left: 45%;
    top: 45%;
}
.roomcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 100px;
    margin-left: 25px;
}
.room {
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    height: 350px;
    width: 350px;
}
.room > img {
    border-radius: 5px;
    height: 75%;
    width: 100%;
}
.describe {
    margin: 0px;
    height: 25%;
    position: relative;
    display: flex;
}
.describe > h3 {
    margin-top: 7px;
    margin-left: 10px;
    color:#8A6240;
}
.describe > h4 {
    margin-top: 10px;
    position: absolute;
    right: 2%;
}
.describe > h5 {
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.describe > p {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.available {
    color: green;
}
.unavailable {
    color: red;
}